
.wrapperCards {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 48px;


  @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr)
  }
}



