.basketBlock {
  width: fit-content;
  border:1px solid #C4C4C4;
  padding: 10px 10px 0 ;
  background: white;
  border-radius:20px;
  color: black;
  text-decoration: none;
}
.basketBlock:hover{
  outline: 2px solid #C4C4C4;;
}